<div class ="container">
<div class="row">

    <div class="col-lg-3">
      <%= render 'layouts/search_form'%>
    </div>

    <div class="col-lg-9">
      <h1>みんなの作品</h1>
      <%= render 'post', posts: @posts %>
    </div>


  </div>
</div>