<div class ="container">
<div class="row">

    <div class="col-lg-3">
      <%= render 'layouts/search_form'%>
    </div>

    <div class="col-lg-9">
      <h1>作品の一覧</h1>
      <%= render 'post', posts: @posts %>
      <div class="pager"><%= paginate @posts %></div>
    </div>


  </div>
</div>