<h1>Posts#introduction</h1>
<p>Find me in app/views/posts/introduction.html.erb</p>


<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Tabs</h2>
  <p>The .nav-tabs class is used to create navigation tabs:</p>
  <ul class="nav nav-tabs" role="tablist">

    <li><a href="http://localhost:3000/posts/top">Home</a></li>
     <li class="active"><a href="http://localhost:3000/posts/top">HTML</a></li>
    <li><a href="http://localhost:3000/posts/introduction">CSS</a></li>
    <li><a href="#">About</a></li>
  </ul>
</div>

</body>
</html>
