<h1>自助具とは</h1>
<p>




　自助具は何らかの病気で、腕や手が麻痺したり、関節が固くなって動かなくなり、腕の切断など、日常生活を送る事が難しくなった方のために制作されました。<br>
時間がかかってしまったり、人に助けてもらっていた身の回り動作を、自助具を使う事でできるだけ楽に自立した生活ができるよう、工夫や改良が加えられた「生活を補助する道具」です。<br>
体が不自由な方の生活に密着した道具ですから、容易に取り扱える大きさで、単純な操作で利用できる配慮がなされております。<br>


</p>









----------------------------------------------------------------------------------------------------------------------

<br>

自助具　＝　自らを助ける道具<br>


自助具とは自らを助ける道具のことで、何らかの障害や怪我により思うように体を動かせなくなってしまった人が困難になってしまった日常生活の動作を自分自身で行えるように補助する道具のことです。<br>









自らを助ける道具<br>
何らかの障害や怪我により思うように体を動かせなくなってしまった人が困難になってしまった日常生活の動作を自分自身で行えるように補助する福祉用具。<br><br>


ただ人によって体の大きさや症状は違うし、目的や求める機能も違う。<br>
市販のものだけでは全ての人に対応することはできません。<br>
そこでわたしたち作業療法士は患者さん一人ひとりに合わせた工夫を施し使う人に本当に適したものになるように知恵を絞ります。<br><br>


でもそれは単純に１つの動作をできるようになってもらうためではありません。<br>
もし筆を持てるようになったら、その人は絵を描きたいと思うかもしれない。<br>
もし絵を描きたいと思ったら、次は外に出て風景を描きたくなるかもしれない。<br><br>

大切なのは道具の機能ではなくその使い方。<br><br>

その人の可能性を広がていくことなんです。<br>
１つのことをクリアすればきっと次のステージへと進めうことができる。<br>
自助具にはそれだけ大きな可能性があるんです。<br><br><br>




- 日本作業療法士協会より　-
<br>
<br>


