<div class= "container">

<div class ="introduction">

<h1>自助具とは</h1>

<div><%=image_tag 'under_line.png', :class =>"under_line"%></div>


<p class ="introduction_text">

<br>

自助具　＝　<strong>自</strong>らを<strong>助</strong>ける道<strong>具</strong><br><br>


自助具とは、身体の不自由な人が日常の生活動作を<br>
より便利により容易にできるように工夫された道具です。<br>

使う人の目的と機能に合った自助具を選び作っていくことが大切です。<br><br>

自助具に関しては作業療法士というリハビリスタッフが専門家として支援することができます。<br>
病院や地域の作業療法士の方にぜひご相談ください。

</p>



<div><%=image_tag 'hand.jpg', :height =>'300px', :width =>'600px' , :class =>"image_introduce"%></div>




<br><br><br>

---------------------------------------------------------------------------------------------------------------------------------






自らを助ける道具(自助具)<br><br><br>
<div class ="ot_text">
自助具とは何らかの障害や怪我により思うように体を動かせなくなってしまった人が<br>
困難になってしまった日常生活の動作を自分自身で行えるように補助する福祉用具。<br><br>


ただ人によって体の大きさや症状は違うし、目的や求める機能も違う。<br>
市販のものだけでは全ての人に対応することはできません。<br>
そこでわたしたち作業療法士は患者さん一人ひとりに合わせた工夫を施し<br>
使う人に本当に適したものになるように知恵を絞ります。<br><br>


でもそれは単純に１つの動作をできるようになってもらうためではありません。<br>
もし筆を持てるようになったら、その人は絵を描きたいと思うかもしれない。<br>
もし絵を描きたいと思ったら、次は外に出て風景を描きたくなるかもしれない。<br><br>

大切なのは道具の機能ではなくその使い方。<br><br>

その人の可能性を広がていくことなんです。<br>
１つのことをクリアすればきっと次のステージへと進めうことができる。<br>
自助具にはそれだけ大きな可能性があるんです。<br><br><br>



<p class ="from_ot">-  日本作業療法士協会より　-</p>
<br>
<br>

</div>



</div>

</div>