<h1>自助具とは</h1>
<p>



</p>







作品での



このサイトについて
福祉用具や自助具(※)は、障害者の自立支援やコミュニケーション等を支援し、社会参加を促進するものとして、欠くことのできない重要なものです。

特に自助具は使用者の身体状況により、個別に形状や機能の調整を行う必要があり、詳細な情報や工夫して工作するための工作法が重要となります。

しかし、それらの情報を障害者が迅速かつ効率的に入手することは、インターネットが発達した現在においても容易ではありません。

こうした課題を解消するため、当協会では自助具等の関連機関や障害者の団体と協力し、「生活便利用具（自助具）データベースシステム（以下、本システム）」を構築しました。
本システムは、障害者やそれを取り巻く家族、専門職の方々へ広く情報提供を可能とし、自助具等の入手及び、工作の一助となるものです。

登録製品の範囲
障害のある方や身体機能が低下した人が、日常生活の不自由を補うために使用するものであり、一般的に購入可能な既製品または、自助具工房等で製作した個別対応品。さらに、余暇などの目的で使用する用具や道具も含む。

自助具とは
自助具とは、加齢や障がいなどにより、思うように体を動かせない人が使う福祉用具です。今持っている力で、日常生活をより便利に、快適にすることができるように、ちょっと工夫をこらしたものです。

「自らを助ける道具」＝自助具。その人の困難な動作を補えるように工夫された道具すべてが自助具です。

利用にあたっての留意点
生活便利用具は、誰にでも使用できる用具ではありません。使用者の障害の状況や使用環境に応じて適用を考える必要があります。

この生活便利用具の使用に当たりましては、製造元や販売元、さらには地域の作業療法士の先生などに相談のうえ、最終的には使用者の自己責任により使用の可否を判断してください。

また、本システムに登録された情報は無断での転載や使用を固く禁止いたします。





このサイトにお越しいただいてありがとうございます。





●	自助具は福祉用具です
 	
　病気や加齢により、身体に何らかの障がいをお持ちの方の自立に役立ち、介護する方の負担を減らす役割をもつ道具を総称して福祉用具と呼んでおります。皆さんは福祉用具と聞くと、車椅子や、杖・歩行器、介護ベッドなどを思い浮かべるのではないでしょうか？　実はこれらの福祉用具の中に、もう少し身の回り動作に密着した「自助具」（生活補助具）という物があります。このコーナーでは、「Self help device（セルフヘルプデヴァイス）」＝「自らを助ける道具」といわれている「自助具」についてご紹介させていただきます。


●	自助具とは
 	

　自助具は何らかの病気で、腕や手が麻痺したり、関節が固くなって動かなくなり、腕の切断など、日常生活を送る事が難しくなった方のために制作されました。時間がかかってしまったり、人に助けてもらっていた身の回り動作を、自助具を使う事でできるだけ楽に自立した生活ができるよう、工夫や改良が加えられた「生活を補助する道具」です。体が不自由な方の生活に密着した道具ですから、容易に取り扱える大きさで、単純な操作で利用できる配慮がなされております。

●	福祉用具の汎用性と自助具の個別性
 	

　一般的に福祉用具は移動、寝起き、排泄など基本的な日常生活をカバーする目的の道具が多く、車椅子、ベッド、杖、ポータブルトイレなど、様々な種類や形がありますが、多くは市販品で標準的（汎用）な物が多く、一つのタイプの物を様々な人が使うケースが殆どです。 しかし自助具は、食事、整容、更衣、調理、掃除、趣味活動など様々な応用動作場面で使われるため、より個人の習慣や癖などに合わせることが求められ、市販品を改良したり、新たに制作するなど、個別性が求められます。 スプーンに注目しても写真（下記）のように、たくさんの市販品が用意されていますが、それだけでは対応できず、個人にあった物をオーダーして制作希望される方が多く、個人の運動能力にあわせた調整（カスタマイズ）が重要とされています。


人の身体的な機能は常に変化しています。思わ
ぬ病気や事故、加齢による変化から日常生活の中
で不便なこと、できないこと、人に頼みたいと思
うことがでてきます。
　自助具とは、身体の不自由な人が日常の生活動
作をより便利に、より容易にできるように工夫さ
れた道具です。英語では「Self - help devices」（自
らを助ける機器）といい、日本語でも英語でも、
文字どおりの意味です。自助具は福祉機器の中で
最も身近な道具であり、生活を広げるものである
といえます。
1 自助具の発想と考え方
　自助具の活用は「できないこと」「不便なこと」
「困難なこと」に気づくことから始まります。
　そのために、自分自身に問いかけることから始
めましょう。
　身体が不自由になったから、年齢のせいで、こ
の動作が困難になった、こんなことができるよう
になりたい、誰かに頼もうか、誰に相談したらい
いのか、と考えていくことです。
　また、身体の不自由な人に接している人も同じ
ことです。親切な介助・介護も大切ですが、何と
か本人が自分自身でできる方法がないか、自立支
援を考えて下さい。
　次に、どうすればで
・・・・
きるかを考えます。
　そのときに大切なことは、使う人の目的と身体
的な機能を理解することです。
　そのためには使う人の動作を観察し、分析しな
ければなりません。どのような自助具が使えるか
を判断する際の基本になります。
　観察と分析を通して目的に適した道具がイメー
ジできます。その人の不自由なことを自分に置き
換えてみて、どうしたらできるようになるかを考
えて進めることです。このとき一つの方法では失
敗することがあるので、いくつかの方法で自助具
を考え、最も適した構造、大きさ、重さ、形、色、
デザインへと思考を広げることが大切です。「使
いやすい自助具は身体の一部」になります。くれ
ぐれも使う人を基準に考えて下さい。


2 自助具を選ぶ
　市販されている自助具は、輸入品中心の時代を
経て国内でも開発が進み、種類も増えてきました。
また、最近ではより多くの人に配慮した考えで作
られたユニバーサルデザインの製品も出回るよう
になりました。
　しかし、使う人の生活範囲や障害は一人ひとり
異なるため、その使用目的と身体機能を理解した
上で選ぶ必要があります。
　選ぶ際には、機能説明や仕様書を見るだけでな
くその使い勝手をイメージし、サイズや重さが使
う人に合っているか、介護用品ショップや福祉機
器の展示場で実際に手に取って試してみることが
大切です。また、専門家のアドバイスも大切です。
　本書に記載する自助具はほんの一例です。
最後に紹介する Web ページや出版物で詳しい情
報を入手して下さい


　自助具を必要とする人の目的や使い方は一人ひ
とり異なる場合が多く、その人に合った自助具を
作らなければなりません。（自助具作りの項を参
照下さい）
　自助具を選ぶときに大切なことは、" まず自助
具ありき＂ではなく、使う人の目的と機能に合っ
た自助具を選び出すことです。


病気や事故によって腕や手が麻痺したり、関節が固くなることで、生活をしていく上で手足が不自由になることがあります。

そうなると日常生活において、箸で食事をしたり、髪を整えるなど身の回りの動作がむずかしくなります。

自助具とは、このような身の回りの動作がより便利に、より容易に自分で行えるよう工夫された道具です。
作業療法の内容は多岐にわたりますが（領域別作業療法の説明参照）、自助具を使用したリハビリテーションも作業療法の一つになります。
作業療法では、障がいの程度や状態に応じた自助具の提案や作成をし、自助具を使った練習をすることで、よりよい日常生活が送れるよう支援しています。自助具は既製品として販売をしているのもあれば、簡単に手作りでできるのもあり、食事、整容、更衣、調理、掃除、趣味活動などの場面で使用されます。
