/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 */


 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #331a1a;
}

@import "bootstrap-sprockets";
@import "bootstrap";

header{
	background-color: #fba810e6;
	width: 100%;
}

.header_item a{
	color:#331a1a;
}

body {
	background-color: #FFFFDD;
}


.option_back {
	width:250px;
	height:30px;
	background-color:#FFFFDD;
}

.option_back:hover    {
    color: #331a1a;
    background:#ccc;
}