// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#info_table{
	width: 700px;
	margin:20px auto;
}

.user_btn{
	width:225px;
}

.info_btn{
	width: 700px;
	margin:0 auto;
	color:white;
}

// user_show

.user_left{
    float:left;
    margin:30px;
}

.user_right{
	float:left;
	margin:30px;
}