<% if er.errors.any? %>
  <div class="alert alert-warning">
  	<h2><%= er.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% er.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>